/*
Silver : #ADADAD;
Dark Brown: #4C191B;
*/

html{
	font-family: Montserrat , Arial ; 
}

h1
{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	padding-left: 30px;
	background-image:linear-gradient(#5e4245,#4C191B);
	color:#FFFFFF;
}

h2{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	padding-left: 30px;
	color:#4C191B;
	text-align: center;
}

nav ul{
	width: 100%;
    height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4C191B;
}

.navMain{
	display: flex;
	height: 100%;
}

nav{
	display: flex;
	order: 2;
    width: 25%;
    text-align: center;
}

nav li{
	/*float: left;
	width: 100px;
	text-align: center;*/
}

nav li a{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 10px;
	background-color: #4C191B;
}

nav li a:hover{
	background-color: #64495C;
}

main{
    display: flex;	
    width: 85%;
}

body{
	background-color: #E4D6FF;
	margin: 0px
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color:#2E1115;
  color: white;
  text-align: left;
}

.active{
	background-color: #83687B;
}

.imgLogo{
	height: 200px;
	width:550px;
	margin-top: 6%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.mainContent{
	height: 100%;
	width: 100%;
	align-self: center;	
	flex-direction: column;
}

.mainContent p{
	font-size: 25px;
	margin-top: 13px;
}

.grid-container{
	margin-top: 0px;
	margin-bottom: 70px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap:10px;
	padding: 10px;
}

.grid-container>div{
	margin: 0px;
	padding: 20px;
	font-size: 20px;
}

.grid-container img{
	margin: 0px;
	height: 450px;
	width: 280px;
	display: block;
	opacity: 1;
}

.overlay {
	position: inherit;
	margin-top: -450px;  
	width: 240px;
	height: 410px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);  
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	margin-bottom: 62px;
	text-decoration: none;
	text-align: center;
}

.overlay img{
	height: 30px;
	width: 30px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.txtButton>a{
	visibility: hidden;
	height: 0;
	width: 0;
	text-decoration: none;
	color: white;
}

.imgButton{
	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin-top: 150px;
}

div[class*="item"]{
	width: 0;
}

div[class*="item"]:hover .overlay{
	opacity: 1;
}

.form{
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 5%;
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
  	text-align: center;
}

input[type=text] {
	width: 100%;
	color: #4C191B;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=email] {
	width: 100%;
	color: #4C191B;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
  background-color: #4C191B;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 40%;
  margin-right: 50%;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
	position:relative;
  	background-color: #4C191B;
  	margin-left: 40%;
  	margin-right: 50%;
}

textarea{
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	color: #4C191B;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

.form select{
	color: #4C191B;
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

.theme{
	margin: 15px;
	padding: 2px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

form{
	text-align: left;
	display: table;
	width: 100%;
	vertical-align: middle;
}

label{
	color:#4C191B;
}

.form-group{
	display: table;
	text-align: center;
	width: 100%;
}
.form-group label{
	display: table-cell;
  	vertical-align: middle;
  	width: 25%;
}

.buttonDarBlue{
	background-image:linear-gradient(#8B1599,#000000);
	height: 30%;
	width: 20%;
}
